// Color Variables
$primary-color: #0abab5;
$overlay-background-color:#2bb8b8;
$text-color: #666666;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #e1f3f3;
$black: #000;
$white: #fff;
$gray: #f4fcff;
$overlay_opacity: 0.8;

// Font Variables
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Arial', sans-serif;
$icon-font: 'themify';