{{ define "main" }}

    <section class="section-sm pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            {{ if .Params.Image }}
            <img src="{{ .Params.Image | absURL }}" alt="" class="profile-img img-fluid d-block mx-auto mb-4">
            {{ end }}
            <h4 class="widget-title">{{ .Title | markdownify }}</h4>
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>

{{ end }}