{{ define "main" }}

{{ if .Site.Data.gallery.enable }}
    {{ with .Site.Data.gallery }}
    <section>
      <div class="container">
        <!-- <div class="text-center">
          <h4 class="widget-title">My Gallery</h4>
        </div> -->
        <div class="row pt-4 text-center">
          {{ range .gallery }}
          <div class="col-sm-3 col-3">
            <a href="{{ .image | absURL}}" class="venobox" data-gall="gallery"><img class="img-fluid w-100"
                src="{{ .image | absURL}}" alt=""></a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
    {{ end }}

<section class="section-sm pb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="pb-4">{{ .Title | markdownify }}</h2>
        <div class="content pb-4 mb-4">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- <div class="row">
          <div class="col-lg-4 small-post-border">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Phone</h5>
            {{ .Site.Params.mobile }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            {{ .Site.Params.email }}
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
            {{ .Site.Params.location | markdownify }}
          </div>
        </div> -->

<!-- 
<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Hi Write To Me</h2>
        <form action="#" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

{{ end }}